html{
    background-color: hsl(185, 75%, 39%);
    position:relative;
}

html ::after, html ::before{
content: "";
display: block;
width:300px;
height: 300px;
position: fixed;
}

html ::before{
    content: url(../Assets/Images/bg-pattern-top.svg);
    left: -400px;
    top: -400px;
}

html ::after{
    content:url(../Assets/Images/bg-pattern-bottom.svg);
    right: 200px;
    bottom: 200px;
}

body{
    min-height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
    margin:0;
    font-family: Kumbh Sans;
}

.card{
width: 350px;
height: 375px;
border-radius: 5%;
background-color: white;
}



.card-header{
    max-width: 100%;
    height: 37%;
    background-image: url(../Assets/Images/bg-pattern-card.svg);
    position: relative;
    display: flex;
    justify-content: center;
}

.profile-img{
        border-radius: 100%;
        background-color: white;
        size: 0%;
        border:5px solid white;
        outline: black;
        display: block;
        position: absolute;
        bottom: 0;
        transform: translateY(50%);
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 130px; 
    margin-bottom: 20px;
    
    
}
.card-text{
    margin: 0;
    line-height: 1.75;
    font-size: 18px;
}

.card-age{
    color:gray;
}

.card-country{
font-size: 14px;  
}

.card-footer{
    border-top: 0.5px solid rgb(221, 221, 221);
    height: 75px;
    padding-top: 8px;
}

.tag{
    font-size: 10px;
    color: gray;
}

.rates{
    display: grid;
    grid-template-columns: 3 (repeat(auto));
    justify-content: space-evenly;
    
}
.tag{
    display: block;
}

.tags{
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}
.tag1{
    grid-column: 1/2;
}
.tag2{
    grid-column: 2/3;
}
.tag3{
    grid-column: 3/4;
}